<html>
	<head>
		<title> Create a new session</title>
	</head>

	<body>
		<div>
			<h4> Welcome back {{ current_user.name }}! </h4> 
			<h1> Create a new session! </h1>

			{% if not new_id %}
			<form method="POST" action="/create">
				<label form="password"> Optional passcode: </label>
				<input type="text" name="password" id="password">

				{{ form.csrf_token }}
				<input type="submit" id="submit" name="submit" value="GO!">

				<div>
					<input type="submit" id="join_existing" name="join_existing" value="Join Existing Session">
				</div>
			</form>
			{% else %}
			<div>
				<h1> Your meeting code is: {{ new_id }} </h1>
				<h2> The passcode is: {{ passcode }} </h2>
			</div>

			{% endif %}
		</div>
	</body>
</html>
